body {
    background-color: #EAF6F6
}

hr {
    border-width: 5px;
    border-style: dotted none none;
    border-color: grey;
    height: 43px;
    width: 20%;
    border-right-style: none;
}
h1, h3 {
    color: #66BFBF
}
